html {
  font-size:16px;
}

body {
  font-family: Optima, Candara, Calibri, Arial, sans-serif;
  max-width: 40rem;
  margin: auto;
}

a {
  color: #FF80AB;
  text-decoration: none;
}

a:hover {
  color: #FF80AB;
  text-shadow: 0 0 0.5px #FF80AB;
  text-decoration: none
  -moz-transition: 250ms;
  -webkit-transition: 250ms;
  -o-transition: 250ms;
}

h1 {
  color: #222;
  text-align: center;
}

h2, h3, h4, h5, h6 {
  color: #333;
}

strong, em {
  color: #444;
}

p {
  color: #555;
}

img, iframe, video {
  max-width: 80%;
  margin-left: auto; 
  margin-right:auto; 
  display:block;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

blockquote, pre {
  border-top: 0.1rem solid #eeeeee;
  border-bottom: 0.1rem solid #eeeeee;
  border-left: 0.25rem solid #FF80AB;
  border-right: 0.1rem solid #eeeeee;
  padding-left: 2rem;
  padding-right: 1rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

code {
  background: #f6f6f6;
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 0.85rem;
}

pre {
  overflow-x: auto;
}

pre code {
  background: none;
}

#content ul, ol {
  border-top: 0.1rem solid #eeeeee;
  border-bottom: 0.1rem solid #eeeeee;
  border-left: 0.25rem solid #FF80AB;
  border-right: 0.1rem solid #eeeeee;
  padding-left: 2rem;
  padding-right: 1rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

table {
  border-top: 0.1rem solid #eeeeee;
  border-bottom: 0.1rem solid #eeeeee;
  border-left: 0.25rem solid #FF80AB;
  border-right: 0.1rem solid #eeeeee;
}

th, td {
  padding-left: 2rem;
  padding-right: 1rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

#header {
  text-align: right;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

#home {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}

#about {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}

#avatar {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

#avatar img {
  width: 5rem;
  height: 5rem;
  border-radius:5rem;
}

#nickname {
  font-weight: bold;
  font-size: 1.5rem;
  color: #222;
  text-align: center;
}

#bio {
  font-size: 1rem;
  font-weight: normal;
  color:  #aaa;
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
  text-align: center;
}

#articlelist {
  padding-top: 3rem;
  padding-bottom: 3rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

#articles {
  line-height: 2.5rem;
  list-style: none;
}

#articles a {
  font-size: 1.05rem;
  font-weight: bold;
}

#listdate {
  float: right;
  color: #aaa;
}

#footer {
  text-align: center;
  line-height: 1.5rem;
  margin-top: 3rem;
  margin-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

#singletitle {
  padding-top: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
  line-height: 2.5rem;
}

#singledate {
  color: #aaa;
  font-size: 1.25rem;
  text-align: center;
  line-height: 2rem;
}

#content {
  padding-top: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  line-height: 1.75rem;
}