<!DOCTYPE html>
<html>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ .Title }} | 杨蕙芷</title>
    <meta name="viewport" content="width=device-width,minimum-scale=1">
    <link rel="shortcut icon" href="/img/favicon.ico">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=EB+Garamond&family=IBM+Plex+Mono&family=Noto+Serif+SC&display=swap" rel="stylesheet"> 
    <body>
        {{ partial "header.html" . }}
        <div class="main">
        {{ block "main" . }}
        {{ end }}
        </div>
        {{ partial "footer.html" . }}
    </body>
</html>
