<!DOCTYPE html>
<html>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ .Title }} | 杨蕙芷</title>
    <meta name="viewport" content="width=device-width,minimum-scale=1">
    <link rel="shortcut icon" href="https://qvshuofaith-1253944953.cos.ap-chengdu.myqcloud.com/favicon.ico">
    <link rel="stylesheet" href="/css/main.css">

    <body>
        {{ partial "header.html" . }}
        <div class="main">
        {{ block "main" . }}
        {{ end }}
        </div>
        {{ partial "footer.html" . }}
    </body>
</html>
